@model DemoWeb.Models.BallModel.BallDetailModel

<div class="">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted">Ball</h2>
    </div>
</div>

<div class="">
    <h3>@Model.Name</h3>
    <h3>@Model.Size</h3>
</div>
